name: ci

on: push

jobs:
 lint:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout
    uses: actions/checkout@v2
  - name: Set up Node 15
    uses: actions/setup-node@v1
    with:
     node-version: 15
  - run: npm install
  - run: npm run lint
 test:
  runs-on: ubuntu-latest
  strategy:
   matrix:
    node-version: [ 8, 9, 10, 11, 12, 13, 14, 15 ]
  steps:
  - name: Checkout
    uses: actions/checkout@v2
  - name: Set up Node ${{ matrix.node-version }}
    uses: actions/setup-node@v1
    with:
     node-version: ${{ matrix.node-version }}
  - run: npm install
  - run: npm run test
 report:
  needs: test
  runs-on: ubuntu-latest
  steps:
  - name: Checkout
    uses: actions/checkout@v2
  - name: Set up Node 15
    uses: actions/setup-node@v1
    with:
     node-version: 15
  - run: npm install
  - run: npm run test:report
